<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.forest.mapper.SystemUserMapper">

    <resultMap id="BaseResultMap" type="com.example.forest.model.persist.entity.SystemUser">
            <id property="userId" column="user_id" />
            <result property="username" column="username" />
            <result property="password" column="password" />
            <result property="email" column="email" />
            <result property="phone" column="phone" />
            <result property="status" column="status" />
            <result property="lastLoginTime" column="last_login_time" />
            <result property="lastLoginIp" column="last_login_ip" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <resultMap id="LoginInfoResultMap" type="com.example.forest.model.persist.vo.systemuser.SystemUserLoginInfoVo">
        <id property="userId" column="user_id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="email" column="email" />
        <result property="phone" column="phone" />
        <result property="status" column="status" />
        <result property="lastLoginTime" column="last_login_time" />
        <result property="lastLoginIp" column="last_login_ip" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <collection property="permissionCodeList" ofType="string">
            <result column="permission_code"/>
        </collection>
    </resultMap>


    <sql id="Base_Column_List">
        user_id,username,password,email,
        phone,status,last_login_time,last_login_ip,create_time,
        update_time
    </sql>

    <select id="selectLoginInfo" resultMap="LoginInfoResultMap">
        SELECT
        u.user_id,u.username,u.password,u.email,
        u.phone,u.status,u.last_login_time,u.last_login_ip,u.create_time,
        u.update_time,
        p.permission_code
        FROM system_user u
        LEFT JOIN user_role ur on ur.user_id = u.user_id
        LEFT JOIN role_permission rp on rp.role_id = ur.role_id
        LEFT JOIN permission p on p.permission_id = rp.permission_id
        WHERE u.phone = #{phone}
    </select>






</mapper>
